.header {
  /** Flex Box*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f9f9f9;
}

.header__logo {
  height: 80px;
  width: 120px;
  object-fit: contain; /** This keeps the aspect ratio, helps with the "look" */
}

.header__icon {
  padding: 20px;
}
